* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 5em 3em;
  background-color: #191919;
}

main {
  max-width: 700px;
  margin-bottom: 5em;
}

h1,
h2,
h3,
h4,
p,
li {
  color: #fff;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
  margin: 0.83em 0;

  text-decoration: underline;
  text-underline-offset: 0.2em;
}

h3 {
  font-size: 1.17em;
  font-weight: 400;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  margin: 1.33em 0;
}

p {
  font-size: 1em;
  font-weight: 400;
  margin: 1em 0;
  word-break: break-word;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #60bdc9;
}

a:visited {
  color: #60bdc9;
}

ul {
  list-style-type: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

li {
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.5;
}

hr {
  margin: 1em 0;
}